.chart {
  width: 90%;
  height: auto;
}

.card-chart {
  min-width: 50%;
}

.card{
  display: block;
  width: 300px;
}

.header-image {
  background-size: cover;
}

.circle-progress
{
  text-align: center;
  width: 300px;
  margin-left: 8%;
}
